#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#left_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#right_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#Text {
    text-align: center;
}

#banner {
    display: flex;
    width: 1175px;
    justify-content: center;
    border: 1px solid black; 
    border-radius: 5px;
    margin: 0 auto;
    

}
#textpromotion{
    width: 620px;
    text-indent: 20px;
}
#button1 {
    width: 200px;
    height: 50px;
    background-color: #459D7A;
    font-size: 20px;
    text-align: center;
}
#textshopnow{
    color: aliceblue;
}
#textvelit{
    opacity: 0.5;
}
#pagination{
    background-color: #1D2128;
    display: flex;
    justify-content: space-around;
    color: #DDE0E5;
}
#pagination1 {
    display: flex;
    justify-content: space-around;
    width: 40%;
    color: #DDE0E5;
}
#listbox{
    width: 100px;
    height: 30px;
    background-color: #1D2128 ;
    color: #DDE0E5;
}
#button2{
    background-color:#459D7A ;
}
